In [1]:
from subprocess import check_output
ls = check_output(['ls'])

In [2]:
ls

'app1.py\napp.py\na.py\na.pyc\nclosure and decorator.ipynb\ncoding.py\nconditiona statements.ipynb\ndata1.csv\ndata.csv\ndatatypes2.ipynb\ndatatypes.ipynb\ndemo2.ipynb\ndemo.ipynb\ndictionaries.ipynb\nfiles.ipynb\nfunctionas adv.ipynb\nfunctions2.ipynb\nfunctions.ipynb\nlists.ipynb\nmails.txt\nmails.txt~\nmanufacturing.py\nmodules\nmodules.zip\nms1.jpg\nms.jpg\npur.py\nsales.py\nstring functions2.ipynb\nstring functions.ipynb\nUntitled1.ipynb\nUntitled2.ipynb\nUntitled3.ipynb\nUntitled4.ipynb\nUntitled5.ipynb\nUntitled6.ipynb\nUntitled.ipynb\nwarehouse.py\n'

In [4]:
print ls

app1.py
app.py
a.py
a.pyc
closure and decorator.ipynb
coding.py
conditiona statements.ipynb
data1.csv
data.csv
datatypes2.ipynb
datatypes.ipynb
demo2.ipynb
demo.ipynb
dictionaries.ipynb
files.ipynb
functionas adv.ipynb
functions2.ipynb
functions.ipynb
lists.ipynb
mails.txt
mails.txt~
manufacturing.py
modules
modules.zip
ms1.jpg
ms.jpg
pur.py
sales.py
string functions2.ipynb
string functions.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
Untitled4.ipynb
Untitled5.ipynb
Untitled6.ipynb
Untitled.ipynb
warehouse.py

In [5]:
from subprocess import check_output
ls = check_output(['ls','-l'])

In [6]:
print ls

total 672
-rw-rw-r-- 1 tcloudost tcloudost      0 Jul 18 07:32 app1.py
-rw-rw-r-- 1 tcloudost tcloudost     46 Jul 18 07:24 app.py
-rw-rw-r-- 1 tcloudost tcloudost     53 Jul 20 07:50 a.py
-rw-rw-r-- 1 tcloudost tcloudost    197 Jul 20 07:52 a.pyc
-rw-rw-r-- 1 tcloudost tcloudost   9800 Aug 10 07:36 closure and decorator.ipynb
-rw-rw-r-- 1 tcloudost tcloudost    238 Jul 25 08:03 coding.py
-rw-rw-r-- 1 tcloudost tcloudost  34918 Jul 26 08:12 conditiona statements.ipynb
-rw-rw-r-- 1 tcloudost tcloudost     80 Aug 10 08:11 data1.csv
-rw-rw-r-- 1 tcloudost tcloudost    260 Aug 10 07:51 data.csv
-rw-rw-r-- 1 tcloudost tcloudost  24877 Jul 24 09:36 datatypes2.ipynb
-rw-rw-r-- 1 tcloudost tcloudost  16535 Jul 21 08:12 datatypes.ipynb
-rw-rw-r-- 1 tcloudost tcloudost   4423 Jul 17 08:11 demo2.ipynb
-rw-rw-r-- 1 tcloudost tcloudost   3104 Jul 11 08:05 demo.ipynb
-rw-rw-r-- 1 tcloudost tcloudost  25924 Aug  6 09:55 dictionaries.ipynb
-rw-rw-r-- 1 tcloudost tcloudost  19446 Aug 10 08:14 files.ipynb
-rw-rw-r-- 1 tcloudost tcloudost  15951 Aug  7 07:57 functionas adv.ipynb
-rw-rw-r-- 1 tcloudost tcloudost  29851 Jul 28 08:15 functions2.ipynb
-rw-rw-r-- 1 tcloudost tcloudost  18683 Jul 27 08:04 functions.ipynb
-rw-rw-r-- 1 tcloudost tcloudost  80995 Aug  6 09:00 lists.ipynb
-rw-rw-r-- 1 tcloudost tcloudost    257 Aug  6 13:18 mails.txt
-rw-rw-r-- 1 tcloudost tcloudost      0 Aug  6 13:18 mails.txt~
-rw-rw-r-- 1 tcloudost tcloudost     12 Jul 18 07:29 manufacturing.py
drwxrwxr-x 3 tcloudost tcloudost   4096 Aug  8 08:19 modules
-rw-rw-r-- 1 tcloudost tcloudost   6221 Aug  8 09:29 modules.zip
-rw-rw-r-- 1 tcloudost tcloudost 108309 Aug 10 08:05 ms1.jpg
-rw-rw-r-- 1 tcloudost tcloudost  36103 Aug 14  2016 ms.jpg
-rw-rw-r-- 1 tcloudost tcloudost     10 Jul 18 07:29 pur.py
-rw-rw-r-- 1 tcloudost tcloudost     96 Jul 18 07:38 sales.py
-rw-rw-r-- 1 tcloudost tcloudost  49958 Aug  5 08:25 string functions2.ipynb
-rw-rw-r-- 1 tcloudost tcloudost  41693 Aug  4 08:10 string functions.ipynb
-rw-rw-r-- 1 tcloudost tcloudost   7688 Jul 19 07:58 Untitled1.ipynb
-rw-rw-r-- 1 tcloudost tcloudost  32779 Jul 25 08:14 Untitled2.ipynb
-rw-rw-r-- 1 tcloudost tcloudost     72 Jul 28 07:10 Untitled3.ipynb
-rw-rw-r-- 1 tcloudost tcloudost   2717 Aug  9 09:16 Untitled4.ipynb
-rw-rw-r-- 1 tcloudost tcloudost     72 Aug 10 07:37 Untitled5.ipynb
-rw-rw-r-- 1 tcloudost tcloudost   2303 Aug 11 07:20 Untitled6.ipynb
-rw-rw-r-- 1 tcloudost tcloudost   9585 Jul 20 08:06 Untitled.ipynb
-rw-rw-r-- 1 tcloudost tcloudost     10 Jul 18 07:29 warehouse.py

In [8]:
# postgres ,mysql, oracle, mssql mongo
import sqlite3
con = sqlite3.connect('db1.db')
cur = con.cursor()
cur.execute('create table customer(id int, name crachar2(250))')

In [10]:
cur.execute("insert into customer values(1, 'name1')")

In [11]:
con.commit()

In [12]:
customers=[{'id':2,'name':'name2'},{'id':3,'name':'name3'}]
for row in customers:
    print row

{'id': 2, 'name': 'name2'}
{'id': 3, 'name': 'name3'}

In [13]:
customers=[{'id':2,'name':'name2'},{'id':3,'name':'name3'}]
for row in customers:
    q="insert into customers values(%s, '%s')"%(row.get('id'),row.get('name'))
    print q

insert into customers values(2, 'name2')
insert into customers values(3, 'name3')

In [15]:
customers=[{'id':2,'name':'name2'},{'id':3,'name':'name3'}]
for row in customers:
    q="insert into customer values(%s, '%s')"%(row.get('id'),row.get('name'))
    cur.execute(q)
con.commit()

In [16]:
c_id=raw_input("Enter cusotmer id:")
c_name=raw_input("Enter customer name:")
q="insert into customer values(%s, '%s')"%(c_id, c_name)
cur.execute(q)
con.commit()

Enter cusotmer id:4
Enter customer name:name4

In [17]:
cur.execute("select * from customer")

In [18]:
cur.fetchone()

(1, u'name1')

In [19]:
cur.fetchall()

[(2, u'name2'), (3, u'name3'), (4, u'name4')]

In [20]:
c_id=raw_input("Enter id:")
q="select * from customer where id=%s"%c_id
cur.execute(q)
print cur.fetchone()

Enter id:1
(1, u'name1')

In [21]:
c_id=raw_input("Enter id:")
q="select * from customer where id=%s"%c_id
cur.execute(q)
print cur.fetchone()

Enter id:3
(3, u'name3')

In [22]:
c_id=raw_input("Enter id:")
q="select * from customer where id=%s"%c_id
cur.execute(q)
print "***Existing record information*****"
print cur.fetchone()
print "*** Enter new details***"
c_name=raw_input("Enter new name:")
q="update customer set name='%s' where id=%s"%(c_name, c_id)
cur.execute(q)
con.commit()

Enter id:3
***Existing record information*****
(3, u'name3')
*** Enter new details***
Enter new name:modified name3

In [23]:
c_id=raw_input("Enter id:")
q="select * from customer where id=%s"%c_id
cur.execute(q)
print "***record goting to delete*****"
print cur.fetchone()
flag=raw_input("Do you really wnat to delete it?(y/n):")
if flag.upper()=="Y" or flag.upper()=="YES":
    q="delete from customer where id=%s"%c_id
    cur.execute(q)
    con.commit()
    print "recored deelted successfully!!"
else:
    print "Ignored the operation"

Enter id:2
***record goting to delete*****
(2, u'name2')
Do you really wnat to delete it?(y/n):y
recored deelted successfully!!