In [1]:
t=(1,2,3,4,1.2,"dfsdf")
l=[1,2,3,4]
l[0]=100
print l

[100, 2, 3, 4]

In [2]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [4]:
l=[1,2,3,4]
l2=[i+10 for i in l]
print l2

[11, 12, 13, 14]

In [7]:
l=[1,2,3,4]
l2=[i+10 for i in l]
print l2
for i in l2:
    print i
l=[1,2,3,4]
l2=(i+10 for i in l)
print l2
for i in l2:
    print i

[11, 12, 13, 14]
11
12
13
14
<generator object <genexpr> at 0x7fd324571460>
11
12
13
14

In [8]:
d={'k1':'v1', 'k2':'v2'}

In [9]:
d[0]

KeyError: 0

In [10]:
d['k1']

'v1'

In [11]:
d={'k1':"v1",'k2':[10,20,30,4],'k3':{"1":1,"2":2,3:4}}

In [12]:
d={1:'int',1.2:"float",(1,2,3):"tuple","str":"string",1+2j:"complex"}

In [13]:
d[(1,2,3)]

'tuple'

In [17]:
d["new-l"]="new-value"

In [18]:
d

{'new-l': 'new-value',
 1: 'int',
 (1+2j): 'complex',
 1.2: 'float',
 (1, 2, 3): 'tuple',
 'str': 'string',
 'new_l': 'new_value'}

In [19]:
print d

{'new-l': 'new-value', 1: 'int', (1+2j): 'complex', 1.2: 'float', (1, 2, 3): 'tuple', 'str': 'string', 'new_l': 'new_value'}

In [20]:
d[[1,2,3,4,5,6]]="list"

TypeError: unhashable type: 'list'

In [21]:
d={1:2,3:4,5:6}
print d

{1: 2, 3: 4, 5: 6}

In [22]:
for i in d:
    print i

1
3
5

In [23]:
d={1:2,3:4,1:100}
print d

{1: 100, 3: 4}

In [24]:
d1={1:2,3:4}
d2=d1
d3={1:2,3:4}
d1[10]=100

In [25]:
print d2

{1: 2, 10: 100, 3: 4}

In [26]:
for i in d2:
    print i

1
10
3

In [27]:
for i in d2:
    print i, d2[i]

1 2
10 100
3 4

In [28]:
for i in enumerate(d2):
    print i

(0, 1)
(1, 10)
(2, 3)

In [29]:
d2.keys()

[1, 10, 3]

In [30]:
d2

{1: 2, 3: 4, 10: 100}

In [31]:
d2[1]

2

In [32]:
d2[10]

100

In [33]:
d2[3]

4

In [34]:
d2[100]

KeyError: 100

In [35]:
d2.get(1)

2

In [36]:
d2.get(3)

4

In [37]:
d2.get(10)

100

In [38]:
d2.get(100)

In [39]:
d2.get(100,"default value")

'default value'

In [40]:
d2.get(10,"default value")

100

In [41]:
10 in d2.keys()

True

In [42]:
100 in d2.values()

True

In [43]:
d2.values()

[2, 100, 4]

In [44]:
d2.keys()

[1, 10, 3]

In [45]:
d2.items()

[(1, 2), (10, 100), (3, 4)]

In [47]:
for i in d2.items():
    print i

(1, 2)
(10, 100)
(3, 4)

In [48]:
for key,value in d2.items():
    print key, value

1 2
10 100
3 4

In [49]:
d2.has_key(100)

False

In [50]:
k=range(10)
v=range(10,20)
print k
print v

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [51]:
d={}
for key,value in zip(k,v):
    d[key]=value
print d

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

In [52]:
d={}
{ key:value for key,value in zip(k,v)}

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

In [53]:
dict([('k1','v1'),('k2','v2'),('k3','v3')])

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [54]:
k=range(10)
v=range(10,20)
print k
print v
zip(k,v)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[(0, 10),
 (1, 11),
 (2, 12),
 (3, 13),
 (4, 14),
 (5, 15),
 (6, 16),
 (7, 17),
 (8, 18),
 (9, 19)]

In [55]:
dict(zip(k,v))

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

In [56]:
p = {'name':"Anil",'age':18}
address = {'street':"st1","state":"TS","city":"HYD"}
for k,v in address.items():
    p[k]=v
print p

{'city': 'HYD', 'age': 18, 'street': 'st1', 'name': 'Anil', 'state': 'TS'}

In [57]:
p = {'name':"Anil",'age':18}
address = {'street':"st1","state":"TS","city":"HYD"}
p.update(address)
print p

{'city': 'HYD', 'age': 18, 'street': 'st1', 'name': 'Anil', 'state': 'TS'}

In [58]:
p

{'age': 18, 'city': 'HYD', 'name': 'Anil', 'state': 'TS', 'street': 'st1'}

In [59]:
p.setdefault('pan',"BRCPR789475")

'BRCPR789475'

In [60]:
p

{'age': 18,
 'city': 'HYD',
 'name': 'Anil',
 'pan': 'BRCPR789475',
 'state': 'TS',
 'street': 'st1'}

In [61]:
keys=range(10)
value="v1"
d={}
d1=d.fromkeys(keys, value)
print d1

{0: 'v1', 1: 'v1', 2: 'v1', 3: 'v1', 4: 'v1', 5: 'v1', 6: 'v1', 7: 'v1', 8: 'v1', 9: 'v1'}

In [62]:
p

{'age': 18,
 'city': 'HYD',
 'name': 'Anil',
 'pan': 'BRCPR789475',
 'state': 'TS',
 'street': 'st1'}

In [63]:
p1=p

In [64]:
p.pop('street')

'st1'

In [65]:
p

{'age': 18, 'city': 'HYD', 'name': 'Anil', 'pan': 'BRCPR789475', 'state': 'TS'}

In [66]:
p1

{'age': 18, 'city': 'HYD', 'name': 'Anil', 'pan': 'BRCPR789475', 'state': 'TS'}

In [67]:
l=[1,2,3,4]
l1=l
l2=l[:]
p1=p
p2=p.copy()
print p1
print p2

{'city': 'HYD', 'name': 'Anil', 'age': 18, 'state': 'TS', 'pan': 'BRCPR789475'}
{'city': 'HYD', 'age': 18, 'name': 'Anil', 'pan': 'BRCPR789475', 'state': 'TS'}

In [68]:
p1.clear()

In [69]:
p2

{'age': 18, 'city': 'HYD', 'name': 'Anil', 'pan': 'BRCPR789475', 'state': 'TS'}

In [70]:
p

{}

In [71]:
p2

{'age': 18, 'city': 'HYD', 'name': 'Anil', 'pan': 'BRCPR789475', 'state': 'TS'}

In [72]:
p2.popitem()

('city', 'HYD')